@import '~taro-ui/dist/style/variables/default.scss';

$icon-color-1: #F5C144;
$icon-color-2: #F0953F;
$icon-color-3: #61CF8A;
$icon-color-4: #61CF8A;
$icon-color-5: #55A9F8;
$icon-color-6: #8D93AE;
$icon-color-7: #9490F8;
$icon-bg-color-1: #FDF5DE;
$icon-bg-color-2: #FCEFE0;
$icon-bg-color-3: #E1F7ED;
$icon-bg-color-4: #E9F0F9;
$icon-bg-color-5: #E3F2FE;
$icon-bg-color-6: #EEEFF3;
$icon-bg-color-7: #EFEFFE;
/* Taro Ui Custom Theme */
$color-brand: #17997a;
$color-brand-light: #51b39b;
$color-brand-dark: #127a62;
